include _meta.pug
doctype html
html(lang="ru")
    head
        include chunks/_head.pug
    body
        //header        
        block header
            include chunks/_header.pug
        //left menu
        include chunks/_left-menu.pug

        //content
        block content

        //seo
        include chunks/_seo.pug

        //footer
        block footer
            include chunks/_footer.pug

        //scripts&modals
        include chunks/_scripts.pug