- var siteName = 'K2 мебель';
- var topMenu = {'Новости' : '/news.html', 'Акции' : '/promo.html', 'Дилерам' : '/dealers.html', 'Сертификаты' : '/certs.html', 'Информация' : '/info.html', 'Производители' : '/vendors.html'};