extends _base.pug
block title
    title Карточка товара - #{siteName}
block breadcrumbs
    .inner
        ul.bread__list.flex.aic
            li.bread__item
                a(href="#") Главная
            li.bread__item
                a(href="#") Каталог мебели
            li.bread__item
                a(href="#") Категория
            li.bread__item
                a(href="#") Товар
block content
    .inner
        section.card__section
            .card__row
                .card__slider
                    .card-slider__inner

                        .slider__nav
                            img(src="/template/img/card/card1.jpg", alt="pagetitle 1")
                            img(src="/template/img/card/card2.jpg", alt="pagetitle 2")
                            img(src="/template/img/card/card3.jpg", alt="pagetitle 3")
                            img(src="/template/img/card/card4.jpg", alt="pagetitle 4")
                            img(src="/template/img/card/card5.jpg", alt="pagetitle 5")

                        .slider__for
                            img(src="/template/img/card/card1.jpg", alt="pagetitle 1")
                            img(src="/template/img/card/card2.jpg", alt="pagetitle 2")
                            img(src="/template/img/card/card3.jpg", alt="pagetitle 3")
                            img(src="/template/img/card/card4.jpg", alt="pagetitle 4")
                            img(src="/template/img/card/card5.jpg", alt="pagetitle 5")

                form.card__info(action="/")
                    h1.card-info__title Textile Grafit
                    .card-info__article Артикул: 123456789
                    .card-info__price 8590 Р
                    .card-info__desc.card-info__row Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    .card-info__color.card-info__row
                        .card-info___param
                            .card-info___--title Цвет

                    .card-info__buy.card-info__row
                    .card-info__spec.card-info__row


            .card__tabs
                .card-tabs__head
                    button.card-tabs__head-item.tab-item(type="button", data-container="tab1") Таб 1
                    button.card-tabs__head-item.tab-item(type="button", data-container="tab2") Таб 2
                    button.card-tabs__head-item.tab-item(type="button", data-container="tab3") Таб 3
                    button.card-tabs__head-item.tab-item(type="button", data-container="tab4") Таб 4
                .card-tabs__body.sk-tabs
                    .card-tabs__body-item.tab-container#tab1 Tab content 1
                    .card-tabs__body-item.tab-container#tab2 Tab content 2
                    .card-tabs__body-item.tab-container#tab3 Tab content 3
                    .card-tabs__body-item.tab-container#tab4 Tab content 4
        section.add-cards__row
            h3.add-cards__title Все товары в этой коллекции
            .add-cards__body.flex
                    - var n = 0;
                    while n < 10
                        - n++
                        - var cardPrice = Math.floor(Math.random() * (1000 - 9999) + 9999);
                        include chunks/_card-item-light.pug
        section.add-cards__row
            h3.add-cards__title Похожие товары
            .add-cards__body.is-masonry.flex
                    - var n = 0;
                    while n < 10
                        - n++
                        - var cardPrice = Math.floor(Math.random() * (1000 - 9999) + 9999);
                        include chunks/_card-item-light.pug
        section.add-cards__row
            h3.add-cards__title С этим товаром покупают
            .add-cards__body.flex
                    - var n = 0;
                    while n < 10
                        - n++
                        - var cardPrice = Math.floor(Math.random() * (1000 - 9999) + 9999);
                        include chunks/_card-item-light.pug
block seo