extends _base.pug
block title
    title Каталог2 - #{siteName}
block breadcrumbs
    .inner
        ul.breadcrumbs__list.flex
            li.breadcrumbs__item
                a(href="#") Главная
            li.breadcrumbs__item.breadcrumbs__separ >
            li.breadcrumbs__item
                a(href="#") Каталог мебели
            li.breadcrumbs__item.breadcrumbs__separ >
            li.breadcrumbs__item
                a(href="#") Корпусная мебель
block content
    .inner
        h1.main-title Корпусная мебель для отелей
        section.chess__block
            .chess__row.flex
                .chess__item.chess__slider
                    .chess__slider-inner
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                    .chess__slider-nav.flex
                a.chess__item.chess__link.flex.jcc.aic(href="#")
                    h3.chess__title Lorem ipsum
                    .chess__subtitle Корпусная мебель для гостиниц эконом класса
            .chess__row.flex
                .chess__item.chess__slider
                    .chess__slider-inner
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                    .chess__slider-nav.flex
                a.chess__item.chess__link.flex.jcc.aic(href="#")
                    h3.chess__title Lorem ipsum
                    .chess__subtitle Корпусная мебель для гостиниц эконом класса
            .chess__row.flex
                .chess__item.chess__slider
                    .chess__slider-inner
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                        img.chess__slider-item(src="/template/img/hotel.jpg", alt="img item")
                    .chess__slider-nav.flex
                a.chess__item.chess__link.flex.jcc.aic(href="#")
                    h3.chess__title Lorem ipsum
                    .chess__subtitle Корпусная мебель для гостиниц эконом класса

block seo