extends _base.pug
block title
    title Каталог - #{siteName}
block breadcrumbs
    .inner
        ul.bread__list.flex.aic
            li.bread__item
                a(href="#") Главная
            li.bread__item
                a(href="#") Каталог мебели
            li.bread__item
                a(href="#") Корпусная мебель
block content
    .inner

        h1.main-title Корпусная мебель для комнат премиум класса
        include chunks/_cat-masonry-thumbs.pug
        include chunks/_cat-icons.pug

        
        section.prod-section.flex
            .cards-block
                header.cards-block__header.flex.jcsb.aic
                    a.cards-sort__title(href="#") Сортировать по: Цене
                    .cards-sort__icons.flex
                        button.cards-sort__btn.is-active(type="button", name="change-view", data-style="is-masonry")
                            include ../../template/img/svg/masonry.svg
                        button.cards-sort__btn(type="button", name="change-view", data-style="is-list")
                            include ../../template/img/svg/list.svg
                button.mob-filter.face-btn Фильтр
                .cards-block__body.is-masonry.flex
                    - var n = 0;
                    while n < 12
                        - n++
                        - var cardPrice = Math.floor(Math.random() * (1000 - 9999) + 9999);
                        - var length = Math.floor(Math.random() * (10 - 400) + 400);
                        - var weight = Math.floor(Math.random() * (10 - 400) + 400);
                        - var height = Math.floor(Math.random() * (10 - 400) + 400);
                        include chunks/_card-item.pug
            include chunks/_filter-right.pug

block seo