extends _base.pug
block title
    title Главная - #{siteName}
block content
    section.top-slider
        .top-slider__inner
            .top-slider__item
                .top-slider__title-wrapper
                    h2.top-slider__title.section__title Lorem ipsum dolor sit amet
                    .top-slider__subtitle Lorem ipsum dolor sit amet
                img.top-slider__img(src="/template/img/slider/slide0.jpg", alt="slide alt")
            .top-slider__item
                .top-slider__title-wrapper
                    h2.top-slider__title.section__title Lorem ipsum dolor sit amet
                    .top-slider__subtitle Lorem ipsum dolor sit amet
                img.top-slider__img(src="/template/img/slider/slide1.jpg", alt="slide alt")
    section.hotel-slider__block
        .inner
            h2.hotel-slider__head.section__title.section__title--light Комплектация гостиниц и отелей мебелью
            .hotel-slider
                .hotel-slider__col
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 0
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 1
                .hotel-slider__col
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 2
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 3
                .hotel-slider__col
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 4
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 5
                .hotel-slider__col
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 6
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 7
                .hotel-slider__col
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 8
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 9
                .hotel-slider__col
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 10
                    a.hotel-slider__item(href="#")
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 11
            a.face-btn.more-btn(href="#") Посмотреть все
    section.popular__block
        .inner
            h2.section__title.section__title--light Популярные товары
            .popular-tabs
                .popular-tabs__head.flex.jcc
                    h3.popular-tabs__head-item.tab-item(data-container="tab1") Lorem
                    h3.popular-tabs__head-item.tab-item(data-container="tab2") Lorem
                    h3.popular-tabs__head-item.tab-item(data-container="tab3") Lorem
                .popular-tabs__body.sk-tabs
                    .popular-tabs__body-item.tab-container#tab1
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                    .popular-tabs__body-item.tab-container#tab2
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                    .popular-tabs__body-item.tab-container#tab3
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
                        include chunks/_card-item.pug
    section.promo__block
        .inner
            .promo__item
                .promo__title Lorem ipsum
                .promo__desc 99% dolor sit amet
                .promo__btn Lorem
                img.promo__img(src="/template/img/promo/promo0.jpg", alt="promo title")
            .promo__item
                .promo__title Lorem ipsum dolor sit
                .promo__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  incididunt ut labore
                .promo__btn LOREM IPSUM
                img.promo__img(src="/template/img/promo/promo1.jpg", alt="promo title")
            .promo__item
                .promo__title Lorem ipsum
                .promo__desc 99% dolor sit amet
                img.promo__img(src="/template/img/promo/promo2.jpg", alt="promo title")
            .promo__item
                .promo__title Lorem ipsum
                .promo__desc 99% dolor sit amet
                img.promo__img(src="/template/img/promo/promo3.jpg", alt="promo title")
    section.clients__block
        .inner
            h2.section__title Наши клиенты
            .clients__feedback-slider
                .clients__feedback-slide
                    img.feedback-slide__img(src="/template/img/clients/client0.jpg")
                    .flex.jcc.aic
                        .feedback-slide__title Давид Ермоленко
                        .feedback-slide__subtitle СЕО & основатель
                    .feedback-slide__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .clients__feedback-slide
                    img.feedback-slide__img(src="/template/img/clients/client1.jpg")
                    .flex.jcc.aic
                        .feedback-slide__title Иван Самков
                        .feedback-slide__subtitle СЕО & основатель
                    .feedback-slide__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .clients__feedback-slide
                    img.feedback-slide__img(src="/template/img/clients/client2.jpg")
                    .flex.jcc.aic
                        .feedback-slide__title Павел Зарубин
                        .feedback-slide__subtitle СЕО & основатель
                    .feedback-slide__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .clients__com-slider
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
                .com-slider__item
                    img.com-slider__img(src="/template/img/clients/company.png", alt="company name")
    section.articles__block
        .inner
            h2.section__title Lorem ipsum dolor sit amet
            .articles__cont.flex
                article.article__item
                    a.article__link(href="#")
                        time.article__date(datetime="2019-06-18") 18 june 2019
                        .article__img
                            img(src="/template/img/article.jpg", alt="article title")
                        h3.article__title Lorem ipsum dolor
                        .article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
                article.article__item
                    a.article__link(href="#")
                        time.article__date(datetime="2019-06-18") 18 june 2019
                        .article__img
                            img(src="/template/img/article.jpg", alt="article title")
                        h3.article__title Lorem ipsum dolor
                        .article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
                article.article__item
                    a.article__link(href="#")
                        time.article__date(datetime="2019-06-18") 18 june 2019
                        .article__img
                            img(src="/template/img/article.jpg", alt="article title")
                        h3.article__title Lorem ipsum dolor
                        .article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum