extends _base.pug
block title
    title Главная - #{siteName}
block content
    section.top-slider
        .top-slider__inner
            .top-slider__item
                .top-slider__title-wrapper
                    h2.top-slider__title.section__title Lorem ipsum dolor sit amet
                    .top-slider__subtitle Lorem ipsum dolor sit amet
                img.top-slider__img(src="/template/img/slider/slide0.jpg", alt="slide alt")
            .top-slider__item
                .top-slider__title-wrapper
                    h2.top-slider__title.section__title Lorem ipsum dolor sit amet
                    .top-slider__subtitle Lorem ipsum dolor sit amet
                img.top-slider__img(src="/template/img/slider/slide1.jpg", alt="slide alt")
    section.hotel-slider__block
        .inner
            h2.hotel-slider__head.section__title.section__title--light Комплектация гостиниц и отелей мебелью
            .hotel-slider
                .hotel-slider__col
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 0
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 1
                .hotel-slider__col
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 2
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 3
                .hotel-slider__col
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 4
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 5
                .hotel-slider__col
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 6
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 7
                .hotel-slider__col
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 8
                    .hotel-slider__item
                        .hotel-slider__icon
                            img(src="/template/img/svg/couch.svg")
                        h3.hotel-slider__title Спальное место 9
    section.popular__block
        .inner
            h2.section__title.section__title--light Популярные товары
            .popular-tabs
                .popular-tabs__head

                .popular-tabs__body
                    article.popular__item.card-item
                        .card-item__img
                            img(src="/template/img/armchair.png", alt="pagetitle")
                        .card-item__category Кресло
                        h3.card-item__title Textile Grafit
                        

