extends _base.pug
block title
    title Сотрудничество - #{siteName}
block breadcrumbs
    .inner
        ul.breadcrumbs__list.flex
            li.breadcrumbs__item
                a(href="#") Главная
            li.breadcrumbs__item.breadcrumbs__separ >
            li.breadcrumbs__item
                a(href="#") Сотрудничество
block content
    .inner
        h1.main-title Lorem ipsum dolor sit amet
        section.f-partner.flex
            div
                div
                    img(src="/template/img/about/1-1.jpg", alt="partner image")
                h3 Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            div
                img(src="/template/img/promo/promo0.jpg", alt="partner image")
        section.advan
            h2.advan__title Lorem ipsum dolor sit amet
            .advan__cont.flex.jcsb
                .advan__item
                    .advan__item-icon
                        img(src="/template/img/svg/case.svg", alt="advantage icon")
                    .advan__item-title Lorem ipsum
                    .advan__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .advan__item
                    .advan__item-icon
                        img(src="/template/img/svg/case.svg", alt="advantage icon")
                    .advan__item-title Lorem ipsum
                    .advan__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .advan__item
                    .advan__item-icon
                        img(src="/template/img/svg/case.svg", alt="advantage icon")
                    .advan__item-title Lorem ipsum
                    .advan__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .advan__item
                    .advan__item-icon
                        img(src="/template/img/svg/case.svg", alt="advantage icon")
                    .advan__item-title Lorem ipsum
                    .advan__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .advan__item
                    .advan__item-icon
                        img(src="/template/img/svg/case.svg", alt="advantage icon")
                    .advan__item-title Lorem ipsum
                    .advan__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .advan__item
                    .advan__item-icon
                        img(src="/template/img/svg/case.svg", alt="advantage icon")
                    .advan__item-title Lorem ipsum
                    .advan__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        section.partner-form.flex
            .callback-block.w50
                h3.callback__title Напишите нам
                form.callback-form.dropzone
                    .call__row.flex
                        label.call__label
                            span.call__title Ваше имя
                            input.call__input(type="text", placeholder="Имя", name="name")
                        label.call__label
                            span.call__title Телефон
                            input.call__input.phone-input(type="text", placeholder="+7 (___) ___-__-__", name="phone")    
                    .call__row
                        label.call__label
                            span.call__title Введите E-mail
                            input.call__input(type="email", placeholder="E-mail", name="email")
                    .call__row
                        label.call__label
                            textarea.call__input.text-area(placeholder="Комментарий", name="message")
                    .call__row
                        label.call__label
                            .drop-zone.drag-drop__cont
                                span.flex.jcc.aic Перетащите сюда или загрузите файлы
                    .call__row
                        label.call__label.call-check.flex.aic
                            input.call-check__input.vh(type="checkbox")
                            span.call-check__view
                            span.call-check__text Согласен(-на) на обработку персональных данных
                    .call__row
                        button.call-btn(type="submit", name="send-msg") Отправить сообщение
            .callback-img
                img(src="/template/img/about/contacts.jpg", alt="contacts image")

block seo