@font-face { font-family: 'Poppins'; src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"); font-weight: 800; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("../fonts/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/Poppins-ThinItalic.woff") format("woff"); font-weight: 100; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"); font-weight: 600; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"); font-weight: normal; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"); font-weight: bold; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/Poppins-BlackItalic.woff") format("woff"); font-weight: 900; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff"); font-weight: 200; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins-BoldItalic.woff") format("woff"); font-weight: bold; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff"); font-weight: 100; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins-LightItalic.woff") format("woff"); font-weight: 300; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff"); font-weight: 500; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"); font-weight: 200; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/Poppins-Italic.woff2") format("woff2"), url("../fonts/Poppins-Italic.woff") format("woff"); font-weight: normal; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff"); font-weight: 900; font-style: normal; font-display: swap; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body { margin: 0; }

main { display: block; /* ie11 fix */ }

h1, h2, h3, h4, h5, h6, ol, ul, button { margin: 0; padding: 0; }

ul, ol { list-style: none; }

address { font-style: normal; }

button { display: block; background: none; font-family: inherit; border: none; }

button:hover { cursor: pointer; }

button:focus { outline: none; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

hr { border: none; }

input, textarea { font-family: inherit; }

img, svg { display: block; max-width: 100%; height: auto; }

svg { max-height: 100%; }

a { text-decoration: none; color: inherit; }

.vh { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

body { background: #fff; color: #000; font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1; }

.inner { max-width: 1216px; padding-left: 65px; margin: auto; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.flex.jcc { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.flex.jcsb { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.flex.aic { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

section { margin-bottom: 100px; }

.section__title { margin: 0 0 50px; font-weight: 600; font-size: 36px; text-align: center; letter-spacing: 0.09em; }

.section__title--light { font-weight: 500; letter-spacing: 0; }

.face-btn { background: #FACE77; color: #fff; border-radius: 3px; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); }

.slider__round-btn { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 31px; height: 31px; border: 1px solid #000; border-radius: 50%; background: center no-repeat; }

.slider__round-btn--prev { background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath d='M1.037 6.23l6.837-5.037c.168-.124.168-.323 0-.446-.168-.124-.438-.124-.606 0l-7.142 5.261c-.168.124-.168.323 0 .446l7.142 5.259c.082.061.194.093.301.093.108 0 .219-.03.301-.093.168-.124.168-.323 0-.447l-6.834-5.037z'/%3E%3C/svg%3E"); left: 0; }

.slider__round-btn--next { background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath d='M6.963 6.23l-6.837-5.037c-.168-.124-.168-.323 0-.446.168-.124.438-.124.606 0l7.142 5.261c.168.124.168.323 0 .446l-7.142 5.259c-.082.061-.194.093-.301.093-.108 0-.219-.03-.301-.093-.168-.124-.168-.323 0-.447l6.834-5.037z'/%3E%3C/svg%3E"); right: 0; }

.card-item { position: relative; z-index: 1; max-width: 20%; padding: 0 14px 12px; background: #fff; }

.card-item__img img { margin: auto; }

.card-item__category { margin-bottom: 2px; color: #888787; font-size: 12px; line-height: 18px; }

.card-item__title { margin-bottom: 8px; font-size: 14px; font-weight: normal; line-height: 21px; }

.card-item__price-word { margin-bottom: 2px; font-size: 12px; line-height: 18px; }

.card-item__price { font-size: 18px; line-height: 22px; text-transform: uppercase; }

.card-item__hover { opacity: 0; visibility: hidden; background: #fff; background: white; position: absolute; top: -41px; right: -25px; left: -25px; text-align: justify; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); -webkit-transition: all .4s; transition: all .4s; }

.card-item__hover .card-item__top-icons { position: absolute; top: 10px; left: 18px; }

.card-item__hover .card-item__top-icons .face-btn { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin: 0 7px; padding: 5px; width: 25px; height: 25px; border-radius: 50%; }

.card-item__hover .card-item__append { padding: 41px 39px 25px; }

.card-item__hover .card-item__add { padding: 0 39px 12px; }

.card-item__hover .card-item__add .card-item__size-word { margin-bottom: 10px; font-size: 12px; }

.card-item__hover .card-item__add .card-item__size-row { margin-bottom: 15px; }

.card-item__hover .card-item__add .card-item__size-row > div { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; border-right: 1px solid #c4c4c4; padding: 0 20px; }

.card-item__hover .card-item__add .card-item__size-row > div:first-child { padding-left: 0; }

.card-item__hover .card-item__add .card-item__size-row > div:last-child { padding-right: 0; border: none; }

.card-item__hover .card-item__add .card-item__size-row .card-item__size-f { margin-bottom: 6px; color: #888787; font-size: 10px; }

.card-item__hover .card-item__add .card-item__size-row .card-item__size-s { font-size: 12px; }

.card-item__hover .card-item__add .card-item__btns .card-item__btn-buy { padding: 7px 44px; background: #FACE77; font-size: 14px; line-height: 21px; }

.card-item__hover .card-item__add .card-item__btns .card-item__btn-cart { padding: 8px 9px; background: #FACE77; }

.card-item__hover .card-item__add .card-item__btns .card-item__btn-cart svg { fill: #fff; }

.card-item:hover { z-index: 2; }

.card-item:hover .card-item__hover { opacity: 1; visibility: visible; }

.header { min-height: 75px; }

.header .inner { min-height: inherit; }

.header .header__menu { padding: 0 10px; }

.header .top-menu__item { margin: 0 15px; text-align: center; font-size: 12px; line-height: 18px; letter-spacing: .04em; }

.header .top-menu__item:first-child { margin-left: 0; }

.header .top-menu__item:last-child { margin-right: 0; }

.header .header__phone { padding: 0 5px; }

.header .top-phone__text { font-size: 16px; font-weight: 500; white-space: nowrap; }

.header .top-phone::after { content: ''; width: 7px; height: 4px; margin-left: 7px; background: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.42421 3.93831L6.24535 0.366179C6.31177 0.282073 6.31177 0.147186 6.24535 0.0630796C6.17892 -0.0210265 6.0724 -0.0210265 6.00597 0.0630796L3.30515 3.48286L0.604327 0.0630793C0.537903 -0.0210268 0.431374 -0.0210268 0.36495 0.0630793C0.332365 0.104339 0.314819 0.159881 0.314819 0.213836C0.314819 0.26779 0.331112 0.323332 0.36495 0.364592L3.18609 3.93672C3.25126 4.02083 3.35904 4.02083 3.42421 3.93831Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center; }

.header .top-icons__item { margin: 0 10px; }

.header .top-icons__item svg { fill: #000; }

.top-slider { padding-left: 65px; }

.top-slider .top-slider__inner { text-align: center; position: relative; }

.top-slider .top-slider__inner .top-slider__item { height: 685px; position: relative; }

.top-slider .top-slider__inner .top-slider__item .top-slider__title-wrapper { position: absolute; width: 100%; margin-top: 106px; }

.top-slider .top-slider__inner .top-slider__item .top-slider__title-wrapper .top-slider__title { margin-bottom: 15px; }

.top-slider .top-slider__inner .top-slider__item .top-slider__title-wrapper .top-slider__subtitle { font-size: 22px; font-weight: 600; }

.top-slider .top-slider__inner .top-slider__item .top-slider__img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.top-slider .top-slider__inner .top-slider__btn { position: absolute; top: 0; bottom: 0; width: 44px; z-index: 1; background: center no-repeat; }

.top-slider .top-slider__inner .top-slider__btn--prev { background-image: url("data:image/svg+xml,%3Csvg width='36' height='62' viewBox='0 0 36 62' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M4.539 30.998l29.937-28c.736-.689.736-1.793 0-2.482-.736-.689-1.917-.689-2.653 0l-31.27 29.248c-.736.689-.736 1.793 0 2.482l31.27 29.235c.361.338.847.52 1.32.52.472 0 .959-.169 1.32-.52.736-.689.736-1.793 0-2.482l-29.923-28z' opacity='.4' fill='%23000'/%3E%3C/svg%3E"); left: 123px; }

.top-slider .top-slider__inner .top-slider__btn--next { background-image: url("data:image/svg+xml,%3Csvg width='36' height='62' viewBox='0 0 36 62' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M34.476 29.764l-31.27-29.248c-.736-.689-1.917-.689-2.653 0s-.736 1.793 0 2.482l29.937 28-29.937 28c-.736.689-.736 1.793 0 2.482.361.338.847.52 1.32.52.472 0 .959-.169 1.32-.52l31.27-29.248c.736-.676.736-1.793.014-2.469z' opacity='.4' fill='%23000'/%3E%3C/svg%3E"); right: 123px; }

.hotel-slider__block .hotel-slider { position: relative; max-width: 1144px; padding: 0 36px; margin: auto; }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item { max-width: inherit; padding-top: 7px; margin: 0 40px 40px; text-align: center; }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__icon { padding-bottom: 33px; margin-bottom: 20px; border-bottom: 1px solid #c4c4c4; }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__icon img { margin: 0 auto; }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__title { font-size: 16px; font-weight: normal; letter-spacing: .09em; }

.popular__block .section__title { margin-bottom: 30px; }

.popular__block .popular-tabs .popular-tabs__head { margin-bottom: 60px; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item { font-weight: 500; font-size: 16px; text-align: center; letter-spacing: 0.09em; color: #6d6d6d; cursor: pointer; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item::after { content: '/'; color: #6d6d6d; margin: 0 39px 0 19px; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item.active-tab { color: #111111; font-weight: bold; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item:last-child::after { display: none; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item:hover { color: #111111; }

.popular__block .popular-tabs__body-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }

.promo__block { display: none; overflow: hidden; }

.promo__block .inner { min-height: 480px; }

.promo__block .inner .promo__item { position: relative; min-height: inherit; width: 392px; }

.promo__block .inner .promo__item:nth-child(1) { float: left; margin-right: 20px; }

.promo__block .inner .promo__item:nth-child(2) { float: left; margin-right: 20px; }

.promo__block .inner .promo__item:nth-child(3) { float: right; }

.promo__block .inner .promo__item:nth-child(4) { float: right; }

.promo__block .inner .promo__item .promo__img { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.clients__feedback-slider { padding: 25px; margin-bottom: 92px; background-image: url(/template/img/clients/feedback-slider-back.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }

.clients__feedback-slider .clients__feedback-slide { text-align: center; letter-spacing: 0.09em; }

.clients__feedback-slider .feedback-slide__img { width: 175px; height: 175px; -o-object-fit: cover; object-fit: cover; border-radius: 50%; margin: 0 auto 20px; }

.clients__feedback-slider .feedback-slide__title { margin-right: 30px; color: #FACE77; font-weight: 500; font-size: 18px; }

.clients__feedback-slider .feedback-slide__subtitle { font-weight: 500; font-size: 13px; text-transform: uppercase; color: #D0CFCF; }

.clients__feedback-slider .feedback-slide__text { margin: 30px auto 50px; color: #D0CFCF; font-size: 14px; }

.clients__feedback-slider .feedback-slide__dots { position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.clients__feedback-slider .feedback-slide__dots li { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 11px; height: 11px; margin: 0 8px; background: #fff; border-radius: 50%; }

.clients__feedback-slider .feedback-slide__dots li.slick-active { background: #FACE77; }

.clients__feedback-slider .feedback-slide__dots li button { color: transparent; }

.clients__feedback-slider .feedback-slide__mask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; width: 100%; background: rgba(1, 1, 1, 0.7); }

.clients__com-slider { padding: 0 32px; }

.clients__com-slider .com-slider__item .com-slider__img { margin: auto; }

.articles__block .section__title { margin-bottom: 40px; }

.articles__cont .article__item { position: relative; max-width: 392px; margin: 0 10px; }

.articles__cont .article__item .article__link { display: block; }

.articles__cont .article__item .article__date { position: absolute; top: 30px; left: 0; max-width: 130px; padding: 7px 18px; background: #E1AB6E; color: #fff; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); }

.articles__cont .article__item .article__img { margin-bottom: 20px; }

.articles__cont .article__item .article__title { margin-bottom: 10px; font-weight: 500; font-size: 16px; }

.articles__cont .article__item .article__text { font-size: 14px; }

.seo__block .seo__cont { letter-spacing: .09em; }

.seo__block .seo__cont .seo__col { margin: 0 40px; }

.seo__block .seo__cont .seo__col .seo__subtitle { font-weight: 600; font-size: 16px; }

.seo__block .seo__cont .seo__col p { line-height: 115%; font-size: 14px; }

.left-bar { position: fixed; top: 0; bottom: 0; left: 0; width: 65px; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }

.left-bar .left-bar__list { padding: 10px 0 0; }

.left-bar .left-bar__list .left-bar__item { width: 100%; height: 48px; }

.left-bar .left-bar__list .left-bar__item .left-bar__link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__icon { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__text { display: none; }

.footer__block { letter-spacing: .09em; }

.footer__block .footer__center .footer-col { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.footer__block .footer__center .footer-col__title { margin: 0 0 28px; font-weight: 600; font-size: 16px; }

.footer__block .footer__center .footer-col__link { margin: 0 0 20px; }

.footer__block .footer__center .footer-col__link.icon-before { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer__block .footer__center .footer-col__link.icon-before::before { content: ''; width: 14px; height: 14px; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin-right: 10px; background-position: center; background-repeat: no-repeat; background-size: 100%; }

.footer__block .footer__center .footer-col__link.icon-before[href^="mailto:"]::before { background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath d='M13.75 1.75h-13.5c-.138 0-.25.112-.25.25v10c0 .138.112.25.25.25h13.5c.138 0 .25-.112.25-.25v-10c0-.138-.112-.25-.25-.25zm-9.317 6.17l-3.5 3.75c-.06.068-.153.097-.241.078-.088-.02-.159-.086-.185-.173-.026-.087-.003-.181.061-.246l3.5-3.75c.06-.068.153-.097.241-.078.088.02.159.086.185.173.026.087.003.181-.061.246zm8.988 3.762c-.101.094-.259.089-.353-.012l-3.5-3.75c-.063-.065-.087-.159-.061-.246.026-.087.097-.153.185-.173.088-.02.181.01.241.078l3.5 3.75c.094.101.089.259-.012.353zm-.01-8.991l-5.767 4.845c-.18.152-.408.235-.643.235-.235 0-.463-.083-.643-.235l-5.767-4.845c-.068-.057-.101-.147-.085-.235s.077-.161.161-.191c.084-.031.178-.014.246.043l5.768 4.845c.186.156.457.156.644 0l5.768-4.845c.106-.089.263-.075.352.031.089.106.075.263-.031.352z'/%3E%3C/svg%3E"); }

.footer__block .footer__center .footer-col__link.icon-before[href^="tel:"]::before { background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M13.728 11.132l-1.552-1.035-1.38-.92c-.266-.177-.624-.119-.821.133l-.854 1.098c-.183.238-.513.307-.776.161-.579-.322-1.264-.626-2.776-2.139-1.511-1.513-1.817-2.197-2.139-2.776-.146-.263-.077-.593.161-.776l1.098-.854c.252-.197.31-.554.133-.821l-.891-1.337-1.063-1.595c-.181-.271-.543-.353-.823-.185l-1.226.735c-.331.195-.575.51-.68.88-.335 1.222-.403 3.919 3.919 8.24 4.321 4.321 7.017 4.254 8.24 3.918.37-.105.685-.349.88-.68l.736-1.226c.168-.28.086-.642-.185-.823zM7.965 2.172c2.265.003 4.101 1.838 4.103 4.103 0 .133.108.241.241.241s.241-.108.241-.241c-.003-2.532-2.055-4.583-4.586-4.586-.133 0-.241.108-.241.241s.108.241.241.241zM7.965 3.62c1.466.002 2.653 1.189 2.655 2.655 0 .133.108.241.241.241s.241-.108.241-.241c-.002-1.732-1.406-3.136-3.138-3.138-.133 0-.241.108-.241.241s.108.241.241.241zM7.965 5.069c.666.001 1.206.541 1.207 1.207 0 .133.108.241.241.241s.241-.108.241-.241c-.001-.933-.757-1.689-1.69-1.69-.133 0-.241.108-.241.241s.108.241.241.241z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h14v14h-14z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); }

.footer__block .footer__center .footer-col__link:hover { text-decoration: underline; }

.footer__block .footer__bot { text-align: center; }

.footer__block .footer__bot .title-copy { padding: 0 0 14px; border-bottom: 1px solid #000; }

.footer__block .footer__bot .createdby { padding: 14px 0 28px; }
