@font-face { font-family: 'Poppins'; src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"); font-weight: 800; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("../fonts/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/Poppins-ThinItalic.woff") format("woff"); font-weight: 100; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"); font-weight: 600; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"); font-weight: normal; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"); font-weight: bold; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/Poppins-BlackItalic.woff") format("woff"); font-weight: 900; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff"); font-weight: 200; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins-BoldItalic.woff") format("woff"); font-weight: bold; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff"); font-weight: 100; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins-LightItalic.woff") format("woff"); font-weight: 300; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff"); font-weight: 500; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"); font-weight: 200; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/Poppins-Italic.woff2") format("woff2"), url("../fonts/Poppins-Italic.woff") format("woff"); font-weight: normal; font-style: italic; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Poppins'; src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff"); font-weight: 900; font-style: normal; font-display: swap; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body { margin: 0; scroll-behavior: smooth; text-rendering: optimizeSpeed; }

main { display: block; /* ie11 fix */ }

h1, h2, h3, h4, h5, h6, ol, ul, button { margin: 0; padding: 0; }

ul, ol { list-style: none; }

address { font-style: normal; }

button { display: block; background: none; font-family: inherit; border: none; }

button:hover { cursor: pointer; }

button:focus { outline: none; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

hr { border: none; }

input, textarea { font-family: inherit; }

img, svg { display: block; max-width: 100%; height: auto; }

svg { max-height: 100%; }

a { text-decoration: none; color: inherit; }

.vh { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

body { background: #fff; color: #000; font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1; }

.inner { max-width: 1216px; padding-left: 65px; margin: auto; }

@media (max-width: 1216px) { .inner { padding: 0 10px 0 75px; } }

@media (max-width: 768px) { .inner { padding-left: 10px; } }

@media (max-width: 414px) { .inner { padding: 0; } }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.flex.jcc { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.flex.jcsb { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.flex.aic { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

section { margin-bottom: 100px; }

.section__title { margin: 0 0 50px; font-weight: 600; font-size: 36px; text-align: center; letter-spacing: 0.09em; }

.section__title--light { font-weight: 500; letter-spacing: 0; }

@media (max-width: 414px) { .section__title { padding: 0 .2em; } }

.face-btn { background: #FACE77; color: #fff; border-radius: 3px; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); text-align: center; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.face-btn:hover { background: #fbd790; }

.slider__round-btn { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 31px; height: 31px; border: 1px solid #000; border-radius: 50%; background: center no-repeat; }

.slider__round-btn--prev { background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath d='M1.037 6.23l6.837-5.037c.168-.124.168-.323 0-.446-.168-.124-.438-.124-.606 0l-7.142 5.261c-.168.124-.168.323 0 .446l7.142 5.259c.082.061.194.093.301.093.108 0 .219-.03.301-.093.168-.124.168-.323 0-.447l-6.834-5.037z'/%3E%3C/svg%3E"); left: 0; }

.slider__round-btn--next { background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath d='M6.963 6.23l-6.837-5.037c-.168-.124-.168-.323 0-.446.168-.124.438-.124.606 0l7.142 5.261c.168.124.168.323 0 .446l-7.142 5.259c-.082.061-.194.093-.301.093-.108 0-.219-.03-.301-.093-.168-.124-.168-.323 0-.447l6.834-5.037z'/%3E%3C/svg%3E"); right: 0; }

.face-dots { position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.face-dots li { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 11px; height: 11px; margin: 0 8px; background: #fff; border-radius: 50%; }

.face-dots li.slick-active { background: #FACE77; }

.face-dots li button { color: transparent; width: 100%; height: 100%; }

.card-item { position: relative; z-index: 1; max-width: 20%; padding: 0 14px 12px; background: #fff; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

@media (max-width: 1024px) { .card-item { max-width: 25%; } }

@media (max-width: 640px) { .card-item { max-width: 33.33%; } }

@media (max-width: 512px) { .card-item { max-width: 50%; -ms-flex-preferred-size: auto; flex-basis: auto; } }

@media (max-width: 414px) { .card-item { max-width: 260px; -ms-flex-preferred-size: auto; flex-basis: auto; margin: 15px; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); } }

.card-item__img img { margin: auto; }

.card-item__category { margin-bottom: 2px; color: #888787; font-size: 12px; line-height: 18px; }

.card-item__title { margin-bottom: 8px; font-size: 14px; font-weight: normal; line-height: 21px; }

.card-item__price-word { margin-bottom: 2px; font-size: 12px; line-height: 18px; }

.card-item__price { font-size: 18px; line-height: 22px; text-transform: uppercase; }

.card-item__hover { opacity: 0; visibility: hidden; background: #fff; background: white; position: absolute; top: -41px; right: -25px; left: -25px; text-align: justify; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); -webkit-transition: all .4s; transition: all .4s; }

.card-item__hover .card-item__top-icons { position: absolute; top: 10px; left: 18px; }

.card-item__hover .card-item__top-icons .face-btn { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin: 0 7px; padding: 5px; width: 25px; height: 25px; border-radius: 50%; }

.card-item__hover .card-item__append { padding: 41px 39px 25px; }

.card-item__hover .card-item__add { padding: 0 39px 12px; }

.card-item__hover .card-item__add .card-item__size-word { margin-bottom: 10px; font-size: 12px; }

.card-item__hover .card-item__add .card-item__size-row { margin-bottom: 15px; }

.card-item__hover .card-item__add .card-item__size-row > div { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; border-right: 1px solid #c4c4c4; padding: 0 20px; }

.card-item__hover .card-item__add .card-item__size-row > div:first-child { padding-left: 0; }

.card-item__hover .card-item__add .card-item__size-row > div:last-child { padding-right: 0; border: none; }

.card-item__hover .card-item__add .card-item__size-row .card-item__size-f { margin-bottom: 6px; color: #888787; font-size: 10px; }

.card-item__hover .card-item__add .card-item__size-row .card-item__size-s { font-size: 12px; }

.card-item__hover .card-item__add .card-item__btns .card-item__btn-buy { padding: 7px 44px; background: #FACE77; font-size: 14px; line-height: 21px; }

.card-item__hover .card-item__add .card-item__btns .card-item__btn-cart { padding: 8px 9px; background: #FACE77; }

.card-item__hover .card-item__add .card-item__btns .card-item__btn-cart svg { fill: #fff; }

@media (max-width: 414px) { .card-item__hover { top: 0; right: 0; left: 0; opacity: 1; visibility: visible; } }

.card-item:hover { z-index: 2; }

.card-item:hover .card-item__hover { opacity: 1; visibility: visible; }

.header { min-height: 75px; }

.header .inner { min-height: inherit; }

.header .top-icons--mob { display: none; }

@media (max-width: 1024px) { .header .top-icons--mob { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.header .top-icons--mob .top-burger { display: none; }

@media (max-width: 768px) { .header .top-icons--mob .top-burger { width: 44px; height: 44px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.header .top-icons--mob .header__phone--mob { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.header .header__logo { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media (max-width: 768px) { .header .header__logo { padding: 0 5px; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; } }

.header .header__menu { padding: 0 10px; }

@media (max-width: 768px) { .header .header__menu { display: none; } }

.header .top-menu__item { margin: 0 15px; text-align: center; font-size: 12px; line-height: 18px; letter-spacing: .04em; }

@media (max-width: 1216px) { .header .top-menu__item { margin: 0 5px; } }

.header .top-menu__item:first-child { margin-left: 0; }

.header .top-menu__item:last-child { margin-right: 0; }

.header .header__phone { padding: 0 5px; }

@media (max-width: 1024px) { .header .header__phone { display: none; } }

.header .top-phone__text { font-size: 16px; font-weight: 500; white-space: nowrap; }

.header .top-phone::after { content: ''; width: 7px; height: 4px; margin-left: 7px; background: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.42421 3.93831L6.24535 0.366179C6.31177 0.282073 6.31177 0.147186 6.24535 0.0630796C6.17892 -0.0210265 6.0724 -0.0210265 6.00597 0.0630796L3.30515 3.48286L0.604327 0.0630793C0.537903 -0.0210268 0.431374 -0.0210268 0.36495 0.0630793C0.332365 0.104339 0.314819 0.159881 0.314819 0.213836C0.314819 0.26779 0.331112 0.323332 0.36495 0.364592L3.18609 3.93672C3.25126 4.02083 3.35904 4.02083 3.42421 3.93831Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center; }

@media (max-width: 768px) { .header .top-phone::after { display: none; } }

@media (max-width: 1024px) { .header .top-phone--mob { display: -webkit-box; display: -ms-flexbox; display: flex; width: 44px; height: 44px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.header .header__icons { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media (max-width: 768px) { .header .header__icons { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }

.header .top-icons__item { margin: 0 10px; }

@media (max-width: 768px) { .header .top-icons__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 44px; height: 44px; margin: 0; } }

.header .top-icons__item svg { fill: #000; }

.top-slider .top-slider__inner { text-align: center; position: relative; margin-left: 65px; }

@media (max-width: 768px) { .top-slider .top-slider__inner { margin-left: 0; } }

.top-slider .top-slider__inner .top-slider__item { height: 685px; max-height: calc(100vh - 75px); position: relative; }

.top-slider .top-slider__inner .top-slider__item .top-slider__title-wrapper { position: absolute; width: 100%; margin-top: 106px; }

.top-slider .top-slider__inner .top-slider__item .top-slider__title-wrapper .top-slider__title { margin-bottom: 15px; }

.top-slider .top-slider__inner .top-slider__item .top-slider__title-wrapper .top-slider__subtitle { font-size: 22px; font-weight: 600; }

.top-slider .top-slider__inner .top-slider__item .top-slider__img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.top-slider .top-slider__inner .top-slider__btn { position: absolute; top: 0; bottom: 0; width: 44px; z-index: 1; background: center no-repeat; }

.top-slider .top-slider__inner .top-slider__btn--prev { background-image: url("data:image/svg+xml,%3Csvg width='36' height='62' viewBox='0 0 36 62' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M4.539 30.998l29.937-28c.736-.689.736-1.793 0-2.482-.736-.689-1.917-.689-2.653 0l-31.27 29.248c-.736.689-.736 1.793 0 2.482l31.27 29.235c.361.338.847.52 1.32.52.472 0 .959-.169 1.32-.52.736-.689.736-1.793 0-2.482l-29.923-28z' opacity='.4' fill='%23000'/%3E%3C/svg%3E"); left: 123px; }

@media (max-width: 1216px) { .top-slider .top-slider__inner .top-slider__btn--prev { left: 10px; } }

.top-slider .top-slider__inner .top-slider__btn--next { background-image: url("data:image/svg+xml,%3Csvg width='36' height='62' viewBox='0 0 36 62' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M34.476 29.764l-31.27-29.248c-.736-.689-1.917-.689-2.653 0s-.736 1.793 0 2.482l29.937 28-29.937 28c-.736.689-.736 1.793 0 2.482.361.338.847.52 1.32.52.472 0 .959-.169 1.32-.52l31.27-29.248c.736-.676.736-1.793.014-2.469z' opacity='.4' fill='%23000'/%3E%3C/svg%3E"); right: 123px; }

@media (max-width: 1216px) { .top-slider .top-slider__inner .top-slider__btn--next { right: 10px; } }

.hotel-slider__block .hotel-slider { position: relative; max-width: 1144px; padding: 0 36px; margin: auto; }

@media (max-width: 540px) { .hotel-slider__block .hotel-slider { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; padding: 0; } }

@media (max-width: 540px) { .hotel-slider__block .hotel-slider .hotel-slider__col { max-width: 50%; -webkit-box-flex: 1; -ms-flex: 1 0 50%; flex: 1 0 50%; }
  .hotel-slider__block .hotel-slider .hotel-slider__col:nth-child(odd) { border-right: 1px solid #C4C4C4; }
  .hotel-slider__block .hotel-slider .hotel-slider__col:nth-last-child(-n+2) .hotel-slider__item:last-child, .hotel-slider__block .hotel-slider .hotel-slider__col:last-child .hotel-slider__item:last-child { border: none; } }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item { display: block; max-width: inherit; padding-top: 7px; margin: 0 40px 40px; text-align: center; }

@media (max-width: 768px) { .hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item { padding: 20px; margin: 0 10px 10px; } }

@media (max-width: 540px) { .hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 100%; min-height: 220px; padding: 10px; margin: 0 auto; border-bottom: 1px solid #C4C4C4; } }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__icon { padding-bottom: 33px; margin-bottom: 20px; border-bottom: 1px solid #c4c4c4; }

@media (max-width: 768px) { .hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__icon { padding-bottom: 0; } }

@media (max-width: 540px) { .hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__icon { width: 100%; border: none; } }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__icon img { margin: 0 auto; }

.hotel-slider__block .hotel-slider .hotel-slider__col .hotel-slider__item .hotel-slider__title { font-size: 16px; font-weight: normal; letter-spacing: .09em; }

.hotel-slider__block .more-btn { display: none; }

@media (max-width: 414px) { .hotel-slider__block .more-btn { display: block; width: 100%; padding: 23px; margin: auto; font-weight: 600; font-size: 12px; letter-spacing: 0.09em; border-radius: 0; } }

.popular__block .section__title { margin-bottom: 30px; }

.popular__block .popular-tabs .popular-tabs__head { margin-bottom: 60px; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item { font-weight: 500; font-size: 16px; text-align: center; letter-spacing: 0.09em; color: #6d6d6d; cursor: pointer; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item::after { content: '/'; color: #6d6d6d; margin: 0 39px 0 19px; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item.active-tab { color: #111111; font-weight: bold; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item:last-child::after { display: none; }

.popular__block .popular-tabs .popular-tabs__head .popular-tabs__head-item:hover { color: #111111; }

.popular__block .popular-tabs__body-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }

@media (max-width: 414px) { .popular__block .popular-tabs__body-item { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.promo__block .inner .promo__item { max-width: 32%; margin: 0 .5%; }

.clients__feedback-slider { padding: 25px; margin-bottom: 92px; background-image: url(/template/img/clients/feedback-slider-back.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }

.clients__feedback-slider .clients__feedback-slide { text-align: center; letter-spacing: 0.09em; }

.clients__feedback-slider .feedback-slide__img { width: 175px; height: 175px; -o-object-fit: cover; object-fit: cover; border-radius: 50%; margin: 0 auto 20px; }

.clients__feedback-slider .feedback-slide__title { margin-right: 30px; color: #FACE77; font-weight: 500; font-size: 18px; }

.clients__feedback-slider .feedback-slide__subtitle { font-weight: 500; font-size: 13px; text-transform: uppercase; color: #D0CFCF; }

.clients__feedback-slider .feedback-slide__text { margin: 30px auto 50px; color: #D0CFCF; font-size: 14px; }

.clients__feedback-slider .feedback-slide__mask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; width: 100%; background: rgba(1, 1, 1, 0.7); }

.clients__com-slider { padding: 0 32px; }

@media (max-width: 512px) { .clients__com-slider { padding: 0; } }

.clients__com-slider .slick-list { padding: 5px 0; }

.clients__com-slider .com-slider__item .com-slider__img { margin: auto; }

@media (max-width: 512px) { .clients__com-slider .com-slider__item .com-slider__img { padding: 10px; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); } }

.articles__block .section__title { margin-bottom: 40px; }

.articles__cont .article__item { position: relative; max-width: 392px; margin: 0 10px; }

@media (max-width: 768px) { .articles__cont .article__item { margin: 0 0 14px; } }

@media (max-width: 414px) { .articles__cont .article__item { padding: 0 10px; max-width: none; } }

.articles__cont .article__item .article__link { display: block; }

.articles__cont .article__item .article__date { position: absolute; top: 30px; left: 0; max-width: 130px; padding: 7px 18px; background: #E1AB6E; color: #fff; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); }

@media (max-width: 414px) { .articles__cont .article__item .article__date { left: 5px; } }

.articles__cont .article__item .article__img { margin-bottom: 20px; }

.articles__cont .article__item .article__title { margin-bottom: 10px; font-weight: 500; font-size: 16px; }

.articles__cont .article__item .article__text { font-size: 14px; }

.articles__cont .face-dots li { background: #DEDCDC; }

.articles__cont .face-dots li.slick-active { background: #FACE77; }

.seo__block .seo__cont { letter-spacing: .09em; }

@media (max-width: 640px) { .seo__block .seo__cont { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; } }

.seo__block .seo__cont .seo__col { margin: 0 40px; }

@media (max-width: 640px) { .seo__block .seo__cont .seo__col { margin: 0 20px; } }

.seo__block .seo__cont .seo__col .seo__subtitle { font-weight: 600; font-size: 16px; }

.seo__block .seo__cont .seo__col p { line-height: 115%; font-size: 14px; }

@media (max-width: 640px) { .seo__block .seo__cont .seo__col p { font-size: 12px; } }

.left-bar { position: fixed; top: 0; bottom: 0; left: 0; z-index: 9991; background: #fff; -webkit-transition: all .3s; transition: all .3s; }

@media (max-width: 768px) { .left-bar { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  .left-bar.is-active { -webkit-transform: none; transform: none; } }

@media (max-width: 640px) { .left-bar.is-mob { -webkit-transform: translateX(-100%); transform: translateX(-100%); } }

.left-bar .left-bar__burger { display: none; }

@media (max-width: 768px) { .left-bar .left-bar__burger { position: absolute; top: 15px; right: 0; -webkit-transform: translateX(100%); transform: translateX(100%); width: 44px; height: 44px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.left-bar .left-bar__list { max-width: 65px; height: 100%; padding-top: 10px; background: #fff; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); -webkit-transition: all .3s ease; transition: all .3s ease; }

@media (max-width: 640px) { .left-bar .left-bar__list { max-width: 350px; } }

.left-bar .left-bar__list .left-bar__item { height: 48px; background: #fff; -webkit-transition: inherit; transition: inherit; }

@media (max-width: 640px) { .left-bar .left-bar__list .left-bar__item { position: relative; } }

.left-bar .left-bar__list .left-bar__item .left-bar__link { position: relative; z-index: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; -webkit-transition: inherit; transition: inherit; }

.left-bar .left-bar__list .left-bar__item .left-bar__link.pointer { cursor: pointer; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 65px; height: 48px; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title { opacity: 0; visibility: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; padding-left: 34px; font-size: 16px; line-height: 20px; letter-spacing: 0.09em; white-space: nowrap; -webkit-transition: inherit; transition: inherit; }

@media (max-width: 640px) { .left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title { opacity: 1; visibility: visible; } }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search { border: none; font-size: inherit; letter-spacing: 0.09em; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search::-webkit-input-placeholder { color: inherit; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search::-moz-placeholder { color: inherit; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search:-ms-input-placeholder { color: inherit; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search::-ms-input-placeholder { color: inherit; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search::placeholder { color: inherit; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title .left-bar__search:focus { outline: none; }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title--hover { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; opacity: 1; visibility: visible; position: absolute; top: 0; right: 0; bottom: 0; width: 285px; padding-right: 26px; background-color: pink; -webkit-transform: translateX(100%) scaleX(0); transform: translateX(100%) scaleX(0); -webkit-transform-origin: left center; transform-origin: left center; }

@media (max-width: 1024px) { .left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title--hover { display: none; } }

.left-bar .left-bar__list .left-bar__item .left-bar__link .left-bar__title--hover::after { content: ''; width: 9px; height: 16px; background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.86119 7.68104L0.823902 0.133284C0.634664 -0.0444282 0.331168 -0.0444282 0.141929 0.133284C-0.0473097 0.310997 -0.0473097 0.596008 0.141929 0.77372L7.83645 7.99958L0.141929 15.2254C-0.0473097 15.4032 -0.0473097 15.6882 0.141929 15.8659C0.234763 15.9531 0.359732 16 0.481131 16C0.602529 16 0.727498 15.9564 0.820332 15.8659L8.85762 8.31812C9.04686 8.14376 9.04686 7.8554 8.86119 7.68104Z' fill='black'/%3E%3C/svg%3E%0A"); }

.left-bar .left-bar__list .left-bar__item:hover .left-bar__link .left-bar__title--hover { -webkit-transform: translateX(100%) scaleX(1); transform: translateX(100%) scaleX(1); }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont { opacity: 0; visibility: hidden; position: absolute; top: 0; right: 0; bottom: 0; z-index: -1; padding: 30px; background: #DBE7FF; overflow: auto; -webkit-transition: inherit; transition: inherit; -webkit-transition-delay: .1s; transition-delay: .1s; }

@media (max-width: 640px) { .left-bar .left-bar__list .left-bar__item .left-bar__subcont { position: fixed; }
  .left-bar .left-bar__list .left-bar__item .left-bar__subcont.is-mob { opacity: 1; visibility: visible; -webkit-transform: translateX(100%); transform: translateX(100%); } }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__subtitle { margin: 0 0 40px; font-size: 30px; line-height: 37px; letter-spacing: 0.09em; }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__sublist { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; width: 485px; padding: 0 17px; }

@media (max-width: 1024px) { .left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__sublist { width: auto; max-width: 100%; } }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__sublist .left-bar__item { width: 110px; height: 140px; background: none; margin: 0 20px 30px; }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__sublist .left-bar__item .left-bar__link { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__sublist .left-bar__item .left-bar__link img { margin: 0 0 20px; }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__sublist .left-bar__item .left-bar__link span { font-size: 16px; line-height: 20px; letter-spacing: 0.09em; }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont.is-active { opacity: 1; visibility: visible; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); -webkit-transform: translateX(100%); transform: translateX(100%); }

@media (max-width: 640px) { .left-bar .left-bar__list .left-bar__item .left-bar__subcont.is-active { -webkit-transform: none; transform: none; } }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__close-btn { position: absolute; top: 10px; right: 10px; width: 44px; height: 44px; border-radius: 50%; background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='2.41421' y1='2' x2='15.1421' y2='14.7279' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='1' y1='-1' x2='19' y2='-1' transform='matrix(-0.707107 0.707107 0.707107 0.707107 16.1421 2)' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A"); background-position: center; background-repeat: no-repeat; -webkit-transition: -webkit-transform .6s; transition: -webkit-transform .6s; transition: transform .6s; transition: transform .6s, -webkit-transform .6s; }

.left-bar .left-bar__list .left-bar__item .left-bar__subcont .left-bar__close-btn:hover { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }

.left-bar .left-bar__list.is-active { max-width: 350px; }

.left-bar .left-bar__list.is-active .left-bar__item .left-bar__link .left-bar__title { opacity: 1; visibility: visible; }

.left-bar .left-bar__list.is-active .left-bar__item .left-bar__link .left-bar__title--hover { display: none; }

.left-bar .left-bar__list.is-active + .shadow-div { position: absolute; top: 0; left: 0; bottom: 0; width: 65px; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); pointer-events: none; }

.left-bar.is-active .left-bar__close { opacity: 1; visibility: visible; }

@media (max-width: 640px) { .left-bar .shadow-div { position: absolute; top: 0; left: 0; bottom: 0; width: 65px; -webkit-box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); box-shadow: 0px 1px 4px rgba(30, 39, 82, 0.25); pointer-events: none; } }

.footer__block { letter-spacing: .09em; }

.footer__block .go-top-btn { display: none; }

@media (max-width: 414px) { .footer__block .go-top-btn { display: block; width: 100%; margin: 0 auto; font-weight: 600; font-size: 12px; padding: 23px; letter-spacing: .09em; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
  .footer__block .go-top-btn span { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .footer__block .go-top-btn span::after { content: ''; width: 11px; height: 11px; margin-left: 10px; background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Crect x='5' y='2' width='1' height='9' rx='.5' fill='%23fff'/%3E%3Cpath d='M5.281.093l-5.189 5.358c-.122.126-.122.328 0 .455.122.126.318.126.44 0l4.968-5.13 4.968 5.13c.122.126.318.126.44 0 .06-.062.092-.145.092-.226 0-.081-.03-.164-.092-.226l-5.189-5.358c-.12-.126-.318-.126-.438-.002z' fill='%23fff'/%3E%3C/svg%3E"); } }

.footer__block .footer__top { min-height: 120px; margin: 0 0 50px; background: #333232; }

.footer__block .footer__top .inner { max-width: 1536px; min-height: inherit; padding: 0 10px; }

.footer__block .footer__top .subs__block { min-height: inherit; }

@media (max-width: 1024px) { .footer__block .footer__top .subs__block { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 10px; } }

.footer__block .footer__top .subs__block .subs__title { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; min-height: inherit; background-position: left center; background-repeat: no-repeat; background-image: url(/template/img/svg/message.svg); padding-left: 185px; }

@media (max-width: 640px) { .footer__block .footer__top .subs__block .subs__title { padding-left: 0; } }

.footer__block .footer__top .subs__block .subs__title .subs__ftitle { margin: 0 0 2px; font-weight: 600; font-size: 22px; line-height: 33px; letter-spacing: 0.09em; color: #EBEAEA; }

@media (max-width: 375px) { .footer__block .footer__top .subs__block .subs__title .subs__ftitle { font-size: 20px; line-height: 24px; } }

.footer__block .footer__top .subs__block .subs__title .subs__stitle { font-size: 16px; line-height: 24px; letter-spacing: 0.09em; color: #EDEBEB; }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row label { max-width: 470px; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row label .subs__input { width: 100%; height: 50px; padding: 10px; margin: 0 0 16px; border: none; background-color: #fff; border-radius: 3px 0 0 3px; -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25); box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25); }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row label .subs__input:focus { outline: none; -webkit-box-shadow: inset 0px 0px 4px #face77; box-shadow: inset 0px 0px 4px #face77; }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row .subs__submit { width: 70px; height: 50px; background-color: #fff; background-image: url(/template/img/svg/telegram.svg); background-repeat: no-repeat; background-position: center; border-radius: 0 3px 3px 0; }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row .check__input:checked + .check__view { background-image: url(/template/img/svg/check.svg); }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row .check__view { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 15px; height: 15px; margin-right: 15px; background-color: #fff; background-position: center; background-repeat: no-repeat; border-radius: 3px; -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25); box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25); }

.footer__block .footer__top .subs__block form.subs__form .subs__form-row .check__text { font-size: 14px; line-height: 115%; letter-spacing: 0.09em; color: #F3F3F3; }

@media (max-width: 768px) { .footer__block .footer__center { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 414px) { .footer__block .footer__center { padding: 0 10px; } }

.footer__block .footer__center .footer-col { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

@media (max-width: 768px) { .footer__block .footer__center .footer-col { margin: 0 0 30px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; } }

.footer__block .footer__center .footer-col__title { margin: 0 0 28px; font-weight: 600; font-size: 16px; }

@media (max-width: 768px) { .footer__block .footer__center .footer-col__title { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; max-width: 100%; margin: 0 0 10px; } }

.footer__block .footer__center .footer-col__link { margin: 0 0 20px; }

@media (max-width: 768px) { .footer__block .footer__center .footer-col__link { margin: 0 10px 10px 0; } }

.footer__block .footer__center .footer-col__link.icon-before { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer__block .footer__center .footer-col__link.icon-before::before { content: ''; width: 14px; height: 14px; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin-right: 10px; background-position: center; background-repeat: no-repeat; background-size: 100%; }

.footer__block .footer__center .footer-col__link.icon-before[href^="mailto:"]::before { background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cpath d='M13.75 1.75h-13.5c-.138 0-.25.112-.25.25v10c0 .138.112.25.25.25h13.5c.138 0 .25-.112.25-.25v-10c0-.138-.112-.25-.25-.25zm-9.317 6.17l-3.5 3.75c-.06.068-.153.097-.241.078-.088-.02-.159-.086-.185-.173-.026-.087-.003-.181.061-.246l3.5-3.75c.06-.068.153-.097.241-.078.088.02.159.086.185.173.026.087.003.181-.061.246zm8.988 3.762c-.101.094-.259.089-.353-.012l-3.5-3.75c-.063-.065-.087-.159-.061-.246.026-.087.097-.153.185-.173.088-.02.181.01.241.078l3.5 3.75c.094.101.089.259-.012.353zm-.01-8.991l-5.767 4.845c-.18.152-.408.235-.643.235-.235 0-.463-.083-.643-.235l-5.767-4.845c-.068-.057-.101-.147-.085-.235s.077-.161.161-.191c.084-.031.178-.014.246.043l5.768 4.845c.186.156.457.156.644 0l5.768-4.845c.106-.089.263-.075.352.031.089.106.075.263-.031.352z'/%3E%3C/svg%3E"); }

.footer__block .footer__center .footer-col__link.icon-before[href^="tel:"]::before { background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' fill='%23000'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M13.728 11.132l-1.552-1.035-1.38-.92c-.266-.177-.624-.119-.821.133l-.854 1.098c-.183.238-.513.307-.776.161-.579-.322-1.264-.626-2.776-2.139-1.511-1.513-1.817-2.197-2.139-2.776-.146-.263-.077-.593.161-.776l1.098-.854c.252-.197.31-.554.133-.821l-.891-1.337-1.063-1.595c-.181-.271-.543-.353-.823-.185l-1.226.735c-.331.195-.575.51-.68.88-.335 1.222-.403 3.919 3.919 8.24 4.321 4.321 7.017 4.254 8.24 3.918.37-.105.685-.349.88-.68l.736-1.226c.168-.28.086-.642-.185-.823zM7.965 2.172c2.265.003 4.101 1.838 4.103 4.103 0 .133.108.241.241.241s.241-.108.241-.241c-.003-2.532-2.055-4.583-4.586-4.586-.133 0-.241.108-.241.241s.108.241.241.241zM7.965 3.62c1.466.002 2.653 1.189 2.655 2.655 0 .133.108.241.241.241s.241-.108.241-.241c-.002-1.732-1.406-3.136-3.138-3.138-.133 0-.241.108-.241.241s.108.241.241.241zM7.965 5.069c.666.001 1.206.541 1.207 1.207 0 .133.108.241.241.241s.241-.108.241-.241c-.001-.933-.757-1.689-1.69-1.69-.133 0-.241.108-.241.241s.108.241.241.241z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h14v14h-14z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); }

.footer__block .footer__center .footer-col__link:hover { text-decoration: underline; }

.footer__block .footer__bot { text-align: center; }

.footer__block .footer__bot .title-copy { padding: 0 0 14px; border-bottom: 1px solid #000; }

.footer__block .footer__bot .createdby { padding: 14px 0 28px; }

html.is-modal { overflow: hidden; }

body.is-modal { overflow: visible; }

.modal-layer { opacity: 0; visibility: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9990; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); -webkit-transition: all .3s linear; transition: all .3s linear; }

.modal-layer.is-active { opacity: 1; visibility: visible; }

html { background: #000 !important; }

* { outline: 1px solid red !important; }

* { background-color: rgba(255, 0, 0, 0.2); }

* * { background-color: rgba(0, 255, 0, 0.2); }

* * * { background-color: rgba(0, 0, 255, 0.2); }

* * * * { background-color: rgba(255, 0, 255, 0.2); }

* * * * * { background-color: rgba(0, 255, 255, 0.2); }

* * * * * * { background-color: rgba(255, 255, 0, 0.2); }

* * * * * * * { background-color: rgba(255, 0, 0, 0.2); }

* * * * * * * * { background-color: rgba(0, 255, 0, 0.2); }

* * * * * * * * * { background-color: rgba(0, 0, 255, 0.2); }
