article.card-item
    .card-item__native
        .card-item__img
            a(href="#")
                img(src="/template/img/armchair.png", alt="pagetitle")
        div.card-item__name
            .card-item__category 
                a(href="#") Кресло
            h4.card-item__title
                a(href="#") Textile Grafit
        .card-item__right-col    
            .card-item__price-word Цена
            .card-item__price #{cardPrice} р