article.card-item
    .card-item__native
        .card-item__img
            a(href="#")
                img(src="/template/img/armchair.png", alt="pagetitle")
        div.card-item__name
            .card-item__category 
                a(href="#") Кресло
            h4.card-item__title
                a(href="#") Textile Grafit
            button(type="button").add-to-fav-btn.islist-only В избранное
        .card-item__right-col    
            .card-item__price-word Цена
            .card-item__price 4 567 р
            form.ms2_form.card-item__btns.flex.jcsb.islist-only(method="post")
                input(type="hidden", name="id", value="1")
                input(type="hidden", name="count", value="1")
                input(type="hidden", name="options", value="[]")
                button.card-item__btn-buy.face-btn(type="button", name="buy-button") Купить
                button.card-item__btn-cart.face-btn(type="button", name="buy-button")
                    img(src="/template/img/svg/cart.svg", alt="cart icon")

    .card-item__hover
        .card-item__top-icons.flex
            button.card-item__like.face-btn(type="button", name="add-to-favorite")
                img(src="/template/img/svg/heart.svg", alt="heart icon")
            

        .card-item__append

        .card-item__add
            .card-item__size-word Размеры
            .card-item__size-row.flex
                .card-item__size-length
                    .card-item__size-f Длина
                    .card-item__size-s 84 см
                .card-item__size-width
                    .card-item__size-f Ширина
                    .card-item__size-s 60 см
                .card-item__size-height
                    .card-item__size-f Высота
                    .card-item__size-s 124 см
            form.ms2_form.card-item__btns.flex.jcsb(method="post")
                input(type="hidden", name="id", value="1")
                input(type="hidden", name="count", value="1")
                input(type="hidden", name="options", value="[]")
                button.card-item__btn-buy.face-btn(type="button", name="buy-button") Купить
                button.card-item__compare.face-btn(type="button", name="add-to-compare")
                    img(src="/template/img/svg/eye.svg", alt="heart icon")
