section.cat-icons
    h2.section__title Комплектация комнат по группам
    .cat-icons__cont.flex
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Шкафы
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Тумбы
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Комоды
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Подчемоданники
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Полки
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Вешалки
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Основания
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Зеркала
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Столы
        a.cat-icons__item(href="#")
            .cat-icons__icon
                img(src="/template/img/svg/couch.svg")
            h3.cat-icons__title Изголовья