section.cat-thumbs
    .cat-thumbs__inner.flex
        //выводить только 6 элементов
        a.cat-thumbs__item(href="/template/img/hotel.jpg", data-fancybox="gallery")
            img.cat-thumbs__img(src="/template/img/hotel.jpg", alt="category")
        a.cat-thumbs__item(href="/template/img/hotel.jpg", data-fancybox="gallery")
            img.cat-thumbs__img(src="/template/img/hotel.jpg", alt="category")
        a.cat-thumbs__item(href="/template/img/hotel.jpg", data-fancybox="gallery")
            img.cat-thumbs__img(src="/template/img/hotel.jpg", alt="category")
        a.cat-thumbs__item(href="/template/img/hotel.jpg", data-fancybox="gallery")
            img.cat-thumbs__img(src="/template/img/hotel.jpg", alt="category")
        a.cat-thumbs__item(href="/template/img/hotel.jpg", data-fancybox="gallery")
            img.cat-thumbs__img(src="/template/img/hotel.jpg", alt="category")
        a.cat-thumbs__item(href="/template/img/hotel.jpg", data-fancybox="gallery")
            img.cat-thumbs__img(src="/template/img/hotel.jpg", alt="category")
