aside.filter-block
    .filter-block__title Фильтрация
    form.filter-block__form
        section.filter-block__section
            h4.filter-block__subtitle Статус
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Шкафы
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Комоды
        section.filter-block__section
            h4.filter-block__subtitle Статус
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Хит
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Акция
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Новинка
        section.filter-block__section
            h4.filter-block__subtitle Цена
            .filter-row.flex
                input.js-range-min.range-val(type="text", name="min-cost")
                input.js-range-max.range-val(type="text", name="max-cost")
            input.js-range-slider.cost-slider.vh(type="range", name="cost")
        section.filter-block__section
            h4.filter-block__subtitle Бренд или коллекция
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Lorem
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Lorem
            label.filter-block__label
                input.filter-block__input.vh(type="checkbox", name="status-name")
                span.filter-block__check
                span.filter-block__name Lorem

