footer.footer__block
    .footer__top

    .inner
        .footer__center.flex
            nav.footer-col
                h4.footer-col__title Личный кабинет
                a.footer-col__link(href="#") Войти
                a.footer-col__link(href="#") Зарегистрироваться
                a.footer-col__link(href="#") Корзина
                a.footer-col__link(href="#") Адреса
                a.footer-col__link(href="#") Заказы
            nav.footer-col.split-col
                h4.footer-col__title Каталог нашей продукции
                a.footer-col__link(href="#") Корпусная мебель
                a.footer-col__link(href="#") Уличная мебель
                a.footer-col__link(href="#") Спальное место
                a.footer-col__link(href="#") Чайные наборы
                a.footer-col__link(href="#") Мягкая мебель
                a.footer-col__link(href="#") Сантехника
                a.footer-col__link(href="#") Столы и стулья
                a.footer-col__link(href="#") Текстиль
                a.footer-col__link.fw(href="#") Смотреть весь каталог
            nav.footer-col
                h4.footer-col__title Информация для покупателей
                a.footer-col__link(href="#") О компании
                a.footer-col__link(href="#") Способ оплаты
                a.footer-col__link(href="#") Доставка
                a.footer-col__link(href="#") Гарантия
                a.footer-col__link(href="#") Карта сайта                
            nav.footer-col
                h4.footer-col__title Контактная информация
                a.footer-col__link.icon-before(href="tel:+79999999999") +7 (999) 999-99-99
                a.footer-col__link.icon-before(href="mailto:example@mail.ru") example@mail.ru
                a.footer-col__link(href="#") Сотрудничество
                a.footer-col__link(href="#") Контакты    
        .footer__bot 
            .title-copy K2 Мебель © 2019
            .createdby Создание и продвижение сайтов 
                a(href="//skgroups.ru", rel="noopener noreferrer") SKgroups


