block header
    header.header
        .inner.flex.jcsb.aic
            .top-icons--mob
                button.header__burger.top-burger(type="button", name="mobile-menu-open")
                    svg.burger-icon(width="15", height="12", viewBox="0 0 15 12")
                        rect.burger-btn__line(width="15", height="2", x="0", y="0")
                        rect.burger-btn__line(width="15", height="2", x="0", y="5")
                        rect.burger-btn__line(width="15", height="2", x="0", y="10")
                a.header__phone--mob.top-phone--mob(href="tel:+79999999999")
                    include ../../../template/img/svg/phone.svg

            .header__logo
                a(href="/")
                    img(src="/template/img/svg/logo.svg", alt="K2 мебель лого")
            nav.header__menu.top-menu.flex.aic.jcsb
                a.top-menu__item(href="#") О компании
                a.top-menu__item(href="#") Каталог мебели
                a.top-menu__item(href="#") Доставка и оплата
                a.top-menu__item(href="#") Контакты
                a.top-menu__item(href="#") Сотрудничество
            .header__phone.top-phone.flex.aic
                a.top-phone__text(href="tel:+79999999999") +7 (999) 999-99-99
            .header__icons.top-icons.flex.aic
                a.top-icons__item(href="#")
                    include ../../../template/img/svg/user.svg
                a.top-icons__item.basket_minicart(href="#")
                    div.number_icon
                        0
                    include ../../../template/img/svg/cart.svg