aside.left-bar
    ul.left-bar__list
        li.left-bar__item
            span.left-bar__link.pointer
                span.left-bar__icon
                    img(src="/template/img/svg/left-menu/search.svg", alt="left-menu-icon")
                form.left-bar__title
                    input.left-bar__search(type="text", placeholder="Найти мебель")
                    button.vh(type="submit") искать

        li.left-bar__item
            a.left-bar__link(href="/cat2/")
                span.left-bar__icon
                    img(src="/template/img/svg/left-menu/promo.svg", alt="left-menu-icon")
                span.left-bar__title Акции 
                span.left-bar__title.left-bar__title--hover Акции
            div.left-bar__subcont
                h3.left-bar__subtitle Заголовок
                ul.left-bar__sublist
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Шкаф
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Комод
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Тумба
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Изголовье
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Основание
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Столы

                button.left-bar__close-btn.js-left-bar-close(type="button", name="close-left-button")
        
        li.left-bar__item
            a.left-bar__link(href="/cat/")
                span.left-bar__icon
                    img(src="/template/img/svg/left-menu/cab-fur.svg", alt="left-menu-icon")
                span.left-bar__title Корпусная мебель
                span.left-bar__title.left-bar__title--hover Корпусная мебель
            div.left-bar__subcont
                h3.left-bar__subtitle Корпусная мебель
                ul.left-bar__sublist
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Шкаф
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Комод
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Тумба
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Изголовье
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Основание
                    li.left-bar__item
                        a.left-bar__link(href="#")
                            img(src="/template/img/svg/left-menu/product.svg", alt="product icon")
                            span Столы
                    li.left-bar__item text1
                    li.left-bar__item text1
                    li.left-bar__item text1
                    li.left-bar__item text1
                button.left-bar__close-btn.js-left-bar-close(type="button", name="close-left-button")