aside.left-bar
    ul.left-bar__list
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/search.svg", alt="left-menu-icon")
                span.left-bar__text Найти мебель
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/promo.svg", alt="left-menu-icon")
                span.left-bar__text Акции
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/cab-fur.svg", alt="left-menu-icon")
                span.left-bar__text Корпусная мебель
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/up-furni.svg", alt="left-menu-icon")
                span.left-bar__text Мягкая мебель
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/tables.svg", alt="left-menu-icon")
                span.left-bar__text Столы и стулья
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/outside-furni.svg", alt="left-menu-icon")
                span.left-bar__text Уличная мебель
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/tea-pots.svg", alt="left-menu-icon")
                span.left-bar__text Чайные наборы
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/plumbing.svg", alt="left-menu-icon")
                span.left-bar__text Сантехника
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/textile.svg", alt="left-menu-icon")
                span.left-bar__text Текстиль
        li.left-bar__item
            a.left-bar__link(href="#")
                img.left-bar__icon(src="/template/img/svg/left-menu/all-cat.svg", alt="left-menu-icon")
                span.left-bar__text Весь каталог