.modal-login#modal-login
    .modalko
        .modalko__back
        .modalko__quest-block
            .modalko__quest-title Не зарегистрированы?
            a.modalko__quest-btn(href="javascript:;", data-fancybox, data-src="#modal-reg") Регистрация
        form.modalko__form(action="/")
            .modalko__title Войти в личный кабинет
            input(type="email", required, placeholder="Email", name="email")
            input(type="password", required, placeholder="Пароль", name="pass")
            .modalko__form-row
                a.modalko-forget(href="javascript:;", data-src="#modal-forget", data-fancybox) Забыли пароль?
                button.modalko__form-submit.face-btn(type="submit") Войти
