.modal-win(style="display:none")
    #callback-form text
    include _login.pug
    include _register.pug
    include _forget.pug
    include _quick-view.pug
    
.modal-layer
script(src="/template/js/jquery-3.4.1.min.js")
script(src="/template/js/slick.min.js")
link(rel="stylesheet", href="/template/css/slick.css")
script(src="/template/js/jquery.fancybox.min.js")
link(rel="stylesheet", href="/template/css/jquery.fancybox.min.css")
script(src="/template/js/ion.rangeSlider.min.js")
link(rel="stylesheet", href="/template/css/ion.rangeSlider.min.css")
script(src="/template/js/jquery.maskedinput.min.js")
script(src="/template/js/dropzone.js")
script(src="/template/js/script.min.js")